.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../../assests/images/background.jpg');
	background-size: cover;
	background-position: center;
	font-weight: 300;
}

.booking-form {
	background: #fff;
	padding: 30px 15px 0px;
	border-radius: 4px;
	overflow: auto;
}

.booking-for {
	background: transparent;
	padding: 30px 15px 0px;
	border-radius: 4px;
	overflow: auto;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	border: none;
	height: 65px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 24px;
	color: #090a0b;
	font-weight: 300;
	background: #f2f1f1;
	border-radius: 4px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #b1b6bd;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #b1b6bd;
}

.booking-form .form-control::placeholder {
	color: #b1b6bd;
}

.booking-form input[type="date"].form-control:invalid {
	color: #b1b6bd;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 24px;
	text-align: center;
	pointer-events: none;
	height: 65px;
	line-height: 65px;
	color: #b1b6bd;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #184c8f;
	display: block;
	font-weight: 600;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	position: relative;
	margin-top: 10px;
	text-transform: uppercase;
}

.booking-form .form-label:after {
	content: '';
	position: absolute;
	left: 10px;
	top: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #f2f1f1 transparent transparent transparent;
}

.booking-form .form-btn {
	margin-bottom: 30px;
}

.booking-form .submit-btn {
	background: #184c8f;
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	height: 90px;
	font-size: 18px;
	width: 100%;
	color: #fff;
	border-radius: 4px;
	display: block;
}
.reset-div{
	margin-top: 15px
  }
  .row{
	margin-top: 5%
  }
  .ticket-status{
	  color:#fff
  }
  .welcome{
	font-size: 40px;
	font-weight: 700;
	color: #174C8F
  }
  .bus-found{
	font-size: 24px;
	font-weight: 700;
	color:#174C8F;
	margin-top: 5%
  }
  .side-div{
	float: right;
	font-size: 20px;
	color: #000
  }
  .font-awesome-icon{
	color: #acafb5;
	font-size: 18px;
	font-weight: 500
  }
.left-div-font{
	float: left;
	color: #000;
	font-size: 24px;
	font-weight: 700
  }
  .cardbody-style{
	display: inline-block;
	width: 100%
  }
  .light-color{
	float: left;
	color: #acafb5;
	font-size: 18px;
	font-weight: 500
  }
  .city-div{
	float: right;
	color: #000;
	font-size: 24px;
	font-weight: 500
  }
  .card-style{
	border-color: transparent;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.15)
  }
  .font-float{
	float: left;
	color: #000;
	font-size: 24px;
	font-weight: 500
  }
  .dark-color{
	float: right;
	color: #acafb5;
	font-size: 18px;
	font-weight: 500
  }
  .fare-div{
	font-weight: 700;
	font-size: 24px;
  }
  .passenger-div{
	border-radius: 5%;
	margin-top: 3%
  }
  .amount-div{
	border-radius: 5%;
  }
  .seat-div{
	border-style: dotted
  }
  .view-div{
	float: center;
	font-size: 12px
  }
  .cardbody-style{
	display: inline-block;
	width: 100%
  }
  .font-rupee{
	color: #acafb5;
	font-size: 18px;
	font-weight: 500
  }
 
.booking-for .submit-btn {
	background: #184c8f;
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	height: 90px;
	font-size: 18px;
	width: 50%;
	color: #fff;
	border-radius: 4px;
	display: block;
} 